<!doctype ejs>

 <html class="no-js" lang=""> 
   <head>
	<title>Harnath Vagicharla</title>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/conatact1.css">
  	<link rel="stylesheet" href="/gbapps.css">
</head>

<body >

<nav>
<header>	       
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Harnath Vagicharla</a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
	
		<li><a class="navbar-brand" href="http://127.0.0.1:8081/index.html">Home</a></li>
		<li><a class="navbar-brand" href="http://127.0.0.1:8081/value.html">CurrencyValue</a></li>
		<li><a   class="navbar-brand" href="http://127.0.0.1:8081/contact_details.html">Contact</a></li> 
   <li> <a  id="act" class="navbar-brand" href="http://127.0.0.1:8081/index">Guestbook</a></li>
	</ul>
	 <ul class="nav navbar-nav navbar-right">
         <a href="https://github.com/HARNATH1010" target="_blank"> <img src="/GitHub-Mark.png" alt=" git account  "></a>
 	 <a href="https://bitbucket.org/HARNATH1010/" target="_blank"><img src="/BB-Mark.png" alt=" bitbucket account"></a>
 	 <a href="https://www.facebook.com/harnath.vagicharla" target="_blank"><img  src="/fb.png" alt="facebook account "></a>
 	 <a href="https://www.linkedin.com/in/harnath-vagicharla-40a32298?trk=nav_responsive_tab_profile" target="_blank"><img  src="/linkedin.png" alt=" likedIn account "></a>
	 </ul>
 </nav></header>
    <br><br><br><br>
<h1>
Vagicharla's Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-info pull-right">
Write in the guestbook
</a>
</h1>