 body{
	background-image:url(images.jpg);
	background-repeat:no-repeat;
	background-size: 1400px 790px;
}


li {
    float: left;
}

li a {
    display: inline-block;
  
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}
#active{

	background-color:powderblue;
}

 
p{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
h2{

    font-size: 35px;
    font-style: italic;
}
h1{
    font-size: 35px;
    font-style: italic;
	

}

#container-fluid{
font-size: 20px;
padding: 5px;
}


ul{
	 margin: -25px -7px 10px -47px; padding-top: 10px; display: block; list-style-type: none; 
	overflow: hidden;
}


.images{
	float: right; margin: -10px -7px 0px 0px;
}



header{
	text-align: center; font-size: 40px; font-weight: bold; padding-top: 10px; 
}







#contact{
	font-size: 20px; margin: 30px 25px; line-height: 6px;
}

.gender{
	margin: -14px 0px 0px 120px; line-height: 25px;
}

#a1{
	margin: -35px 0px 0px 113px;
}
#a3{
	margin: -35px 0px 0px 113px;
}
#a4{
	margin: -35px 0px 0px 113px;
}
#a5{
	margin: -35px 0px 0px 113px;
}
#a2{
	margin: -25px 0px 0px 113px;
}
#a6{
	margin: -25px 0px 0px 113px;
}
textarea{
	margin: -20px 0px 0px 125px;
}
input{
	padding: 4px;
}

.a1{
	margin: 20px 0px 0px 165px;	
}
 
.footer{
	border-top: 1px black solid; margin-top: 65px;
}

pre{
	font-size: 20px; font-weight: bold;
	padding-left: 10px; 
}



.logos{
	   
width:30px; height:30px;


} 

#logo1{
	width: 85px; height: 30px;
}



h3{
	font-family: "Monotype Corsiva"; text-align: center; font-size: 37px; 
} 

 