ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: orange;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #111;
}
 body{
	background-image:url(images.jpg);
	background-repeat:no-repeat;
	background-size: 1400px 790px;
}
p{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
h2{

    font-size: 35px;
    font-style: italic;
}